# Optional.
# If omitted, streamlit_app.py uses DEFAULT_GOOGLE_SHEET_URL embedded in the code.
GOOGLE_SHEET_URL = "https://docs.google.com/spreadsheets/d/1ZrXZcY-Fr4My0aoj8VCT6VxG_SN6czrvLa7xT8pw1U4/edit?gid=0#gid=0"
